.container {
  min-height: calc(100vh - var(--height-header) - 40px);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.wrapperLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title {
  margin-top: 10px;
  margin-bottom: 5px !important;
}

.desc {
  margin-bottom: 10px;
}

.carousel {
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 575px) {
  .desc {
    display: none;
  }
}

@media only screen and (min-width: 575px) {
  .carousel {
    margin-top: 0;
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
  }

  .wrapperLeft {
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel {
    margin-top: 100px;

    text-align: center;
  }
  .wrapperLeft {
    align-items: flex-start;
  }
}
