.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.btn {
  padding: 20px;
  border-radius: 0;
}

.container :global(.ant-input-number-group-wrapper) {
  max-width: 150px;
}

.container :global(.ant-input-number-group-addon) {
  border-radius: 0 !important;
  padding: 0;
}

.container :global(.ant-input-number-input) {
  padding: 11px;
}
