.header {
  background-color: var(--bg-color-header);
  height: var(--height-header);
}

.headerContainer {
  max-width: var(--width-container);
  margin: 0 auto;
}

.headerWrapper {
  height: 100%;
}

.containerIconSearch,
.toggleContainer {
  display: none;
}

.titleToggle,
.logo {
  margin: 0 !important;
  cursor: pointer;
}

.containerRight {
  text-align: right !important;
}

.headerMenu {
  text-align: center;
}

.fixContainer {
  background-color: #fff;
  position: relative;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: var(--blue-primary);
}

.menuHorizontal {
  margin: auto;
  width: 100%;
  max-width: 800px;
  display: block;
}

.menuMobileContainer {
  display: none;
}

.menuMobileBg {
  background-color: white;
}
.menuMobile {
  margin-inline: 20px;
  padding: 10px 0;
}

.header :global(.ant-affix) {
  z-index: 9999;
}

.groupIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 730px) {
  .header {
    background-color: var(--bg-color-header);
    height: var(--height-header-mobile);
  }

  .groupIcon,
  .authDropdownContainer,
  .search,
  .authDropdown,
  .logo {
    display: none;
  }

  .menuMobile {
    display: flex;
    align-items: center;
  }
  .containerIconSearch {
    display: block;
  }
  .toggleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .containerLeft {
    display: none;
  }
  .menuHorizontal {
    display: none;
  }

  .menuMobileContainer {
    display: block;
  }
}

@media (max-width: 1360px) {
  .headerContainer {
    margin: 0 20px;
  }
  .headerWrapper {
    justify-content: space-between;
  }
}
