.mainBody {
  background-color: var(--bg-color-main-body);
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.container {
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 20px 0;
}

@media only screen and (max-width: 575px) {
}
