:root {
  --height-header: 160px;
  --height-header-mobile: 120px;
  --height-footer: 50px;
  --bg-color-header: white;
  --bg-color-main-body: #f1f2f3f4;
  --blue-primary: #1677ff;
  --width-container: 1360px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

.ant-drawer {
  z-index: 9999;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused,
.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  height: 300px;
}
